<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 class="text-center"><i class="fas fa-people-carry fa-4x"></i></h1>
      <h3>Welcome to Multi-Dimension App</h3>
      <p>Create an account or Login</p>
      <a href="/users/signup" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-danger btn-block">LogIn</a>
    </div>
  </div>
</div>
